<link rel="stylesheet" href="/css/chat_engine.css">
<div id="chat-window">
    <div id="message-list">
        <ul id="message-ul">
            <li class="received-message">
                <!-- <span>
                    Other Messgae
                </span>
                <sub>
                    Useremail
                </sub> -->
                
            </li>
            <li class="sent-message">
                <!-- <span>
                    My Message
                </span>
                <sub>
                    Useremail
                </sub> -->
            </li>
        </ul>
    </div>
    <div id="message-form-div">
        <input type="text" name="message" id="chat-message-input" placeholder="Type your message here" required>
        <input type="submit" value="Send" id="send-btn">
    </div>
</div>