<% if (!mailSent){ %>
    
    <form action="/reset_password/check-user" id="check-username" method="POST">
        <input type="text" name="email" id="email" placeholder="Enter your email id">
        <input type="submit" value="Send Reset Link">
    </form>

<% } %>

<% if (mailSent){ %>
    
    <h1>Check email for reset link</h1>

<% } %>
