<% if (accessToken && accessToken.isValid){ %>
    
    <form action="/reset_password/update-password/<%= accessToken.accessToken %>" id="update-password" method="POST">
        <input type="password" name="password" id="password" placeholder="Enter your Password">
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
        <input type="submit" value="Update Password">
    </form>

<% }%>

<% if (accessToken && !accessToken.isValid){ %>
    
    <P>Resend password reset link!</P>

<% }%>