.comment{
    background-color: white;
    padding: 0.7rem;
    padding-left: 1.5rem;
    #comment-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border-bottom: 1px solid #e0e0e0;
        padding-right: 1rem;
        .delete-comment-button{
            text-decoration: none;
            color: #dd2c00;
        }
    }
    #comment-user{
        display: flex;
        justify-content: start;
        #comment-user-name-createdat{
            margin: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            p{
                margin: 2px;
                
            }
            #comment-created-at{
                font-size: 0.8rem;
                color: #b0bec5;
            }
        }
        #profile-image{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 2rem;
            }
        }
        
    }
    #comment-content{
        padding-left: 2.5rem;
        p{
            margin: 5px;
            color: #546e7a;
        }
        #comment-likes{
            small{
                margin: 10px 5px 10px 5px;
            }
        }
    }
}   