header{
    height: 8%;
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    flex-direction: row;
    // background-color: #b3e5fc;
    background-color: rgb(52, 73, 144);
    justify-content: space-between;
    box-shadow: 0px 0px 10px #cfd8dc;
    
    // margin-bottom: 2px;
    h2{
        margin: 10px 0px 0px 10px;
        a{
            color: white;

            text-decoration: none;
        }
    }
    ul{
        list-style: none;
        text-align: end;
        padding-right: 10px;
        margin: 15px 10px 0px 0px;
        li{
            display: inline;
            padding: 5px;
            #user-name{
                text-transform: capitalize;
            }
            a{
                color: white;
                text-decoration: none;
                font-size: 1rem;
            }
            a:hover{
                // color: #01579b;
                font-weight: bold;
            }
        }
    }
}