#home-container{
    display: flex;
    height: 100%;
    #feed-posts{
        // margin: auto;
        // margin-top: 50px;
        // border: 1px solid grey;
        width: 80%;
        padding: 10px;
    }
    #user-friends{
        border-left: 1px solid grey;
        width: 20%;
        padding-left: 10px;
        height: 100%;
    }
}
