<div>
    <p>Hi <%= accessToken.user.name %>!</p>
    <br>
    <br>
    <p>Click on the link http://localhost:8000/reset_password/<%= accessToken.accessToken %> to reset your password</p>
    <br>
    <br>
    <p>Thankyou!</p>
</div>