#chat-window {
  position: fixed;
  border: 1px solid black;
  width: 18rem;
  height: 21rem;
  background-color: white;
  right: 1rem;
  bottom: 0rem;
  display: block;
}

#chat-window #message-list {
  height: 90%;
  overflow: auto;
}

#chat-window #message-list ul {
  list-style: none;
  display: block;
  margin: 0rem;
  padding: 10px;
}

#chat-window #message-list ul .received-message {
  text-align: left;
  padding: 5px;
}

#chat-window #message-list ul .received-message span {
  display: inline-block;
  padding: 15px;
  background-color: #7b9af0;
}

#chat-window #message-list ul .received-message sub {
  display: block;
}

#chat-window #message-list ul .sent-message {
  text-align: right;
  padding: 5px;
}

#chat-window #message-list ul .sent-message span {
  display: inline-block;
  padding: 15px;
  background-color: #f75a7c;
}

#chat-window #message-list ul .sent-message sub {
  display: block;
}

#chat-window #message-form-div {
  height: 10%;
  display: flex;
  width: 100%;
}

#chat-window #message-form-div #chat-message-input {
  width: 80%;
}

#chat-window #message-form-div #send-btn {
  width: 20%;
  background-color: #1bf82d;
  border: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
