header {
  height: 8%;
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  flex-direction: row;
  background-color: #344990;
  justify-content: space-between;
  box-shadow: 0px 0px 10px #cfd8dc;
}

header h2 {
  margin: 10px 0px 0px 10px;
}

header h2 a {
  color: white;
  text-decoration: none;
}

header ul {
  list-style: none;
  text-align: end;
  padding-right: 10px;
  margin: 15px 10px 0px 0px;
}

header ul li {
  display: inline;
  padding: 5px;
}

header ul li #user-name {
  text-transform: capitalize;
}

header ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

header ul li a:hover {
  font-weight: bold;
}
