header {
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color: #4d2c91;
  justify-content: space-between;
}

header h2 {
  margin: 10px 0px 0px 5px;
}

header h2 a {
  color: black;
  text-decoration: none;
}

header ul {
  list-style: none;
  text-align: end;
  padding-right: 10px;
  margin: 15px 10px 0px 0px;
}

header ul li {
  display: inline;
  padding: 5px;
}

header ul li #user-name {
  text-transform: capitalize;
}

header ul li a {
  color: black;
}
