#home-container {
  display: flex;
  margin: 0px;
}

#home-container ::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

#home-container #feed-posts {
  width: 55%;
  height: inherit;
  margin-left: 23%;
}

#home-container #feed-posts #make-post {
  display: flex;
  height: 10rem;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border-radius: 0.2rem;
  background-color: white;
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#home-container #feed-posts #make-post h4 {
  margin: 10px 0px 5px 15px;
}

#home-container #feed-posts #make-post textarea, #home-container #feed-posts #make-post input {
  display: block;
  margin: 0.5rem;
  height: 4rem;
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 1.5rem;
  padding-left: 0.5rem;
  background-color: #eeeeee;
}

#home-container #feed-posts #make-post textarea:focus {
  outline: none;
}

#home-container #feed-posts #make-post textarea::placeholder {
  padding: 0.5rem;
}

#home-container #feed-posts #make-post #post-btn {
  height: 1.5rem;
  width: 5rem;
  border-radius: 1.5rem;
  border: 0px;
  background-color: #3f53a5;
  font-size: 12px;
  padding: 0px;
  margin-left: 1rem;
  color: white;
}

#home-container #feed-posts #make-post-border {
  border-bottom: 1px solid #e0e0e0;
}

#home-container #feed-posts #post-list-container ul {
  list-style: none;
  padding-left: 0px;
}

#home-container #user-friends, #home-container #user-profile {
  position: fixed;
  height: inherit;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 90%;
  margin-bottom: 0px;
  align-items: center;
}

#home-container #user-friends h3, #home-container #user-profile h3 {
  font-size: 1.5rem;
  margin: 8px;
}

#home-container #user-friends:hover, #home-container #user-profile:hover {
  overflow-y: auto;
}

#home-container #user-friends {
  width: 20%;
  border-left: 1px solid #e0e0e0;
  margin-top: 1rem;
  right: 0;
}

#home-container #user-friends ul {
  list-style: none;
  padding: 0;
}

#home-container #user-profile {
  width: 22%;
  border-right: 1px solid #e0e0e0;
  margin-top: 1rem;
}

#home-container #user-profile #profile-section {
  width: 90%;
  border-radius: 0.3rem;
  background-color: #3f53a5;
  padding: 0.2rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: #ffffff;
}

#home-container #user-profile #profile-section #profile-image {
  display: flex;
  justify-content: center;
}

#home-container #user-profile #profile-section #profile-image img {
  width: 70%;
  height: inherit;
}

#home-container #user-profile #profile-section #nav-links {
  background-color: #303f7e;
  display: flex;
  width: 90%;
  justify-content: end;
  flex-wrap: wrap;
  margin: 1rem;
  border-radius: 0.3rem;
}

#home-container #user-profile #profile-section #nav-links ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  list-style: none;
  margin: 1rem;
  padding: 0;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

#home-container #user-profile #profile-section #nav-links ul li {
  padding: 0.3rem;
}

#home-container #user-profile #profile-section #nav-links ul li a {
  text-decoration: none;
  color: #ffffff;
}

#home-container .welcome-page {
  display: flex;
  direction: column;
  height: 90%;
}

#home-container img {
  width: 70%;
  height: 90%;
}

#home-container .get-started {
  width: 30%;
  height: auto;
  align-self: center;
  padding: 2rem;
}

#home-container .get-started .sign-up-btn {
  height: 2rem;
  width: 7rem;
  border-radius: 1.5rem;
  display: flex;
  background-color: #b3e5fc;
  align-items: center;
  justify-content: center;
}

#home-container .get-started .sign-up-btn a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#home-container .get-started .sign-up-btn:hover {
  background-color: #0086c3;
}
