#home-container {
  display: flex;
}

#home-container #feed-posts {
  width: 80%;
  padding: 10px;
}

#home-container #user-friends {
  border-left: 1px solid grey;
  width: 20%;
  padding-left: 10px;
  height: 100%;
}
