html {
  width: 100%;
}

html body {
  margin: 0;
}

html body #layout-main {
  border: 1px solid #eeeeee;
  padding-top: 4%;
  min-height: 530px;
  background-color: #ffffff;
}

html body #layout-main h1 {
  margin: 0;
}
