html {
  height: 100%;
  width: 100%;
}

html body {
  margin: 0;
  height: 100%;
}

html body #layout-main {
  height: 100%;
  background-color: #b39ddb;
}

html body #layout-main h1 {
  margin: 0;
}
